.navbar.navbar-default{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Learning2Rank', root_path, class: "navbar-brand"
  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav
    %ul.nav.navbar-nav.navbar-right
